<!DOCTYPE html>
<html>
<head>
  <title>RailsinstallerDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <h1> Welcome to Rails Installer Demo! </h1>
</head>
<body>

<%= yield %>

</body>
</html>
